     
     
     
     
     
       <ion-content fullscreen  [scrollEvents]="true"> 



        <!-- Wrapper -->
        <div id="wrapper">
    
      
         <app-head></app-head>
     
     
     
     <!-- contents -->
      <div class="main_content">

        <div class="main_content_inner">
<div class="">

  <h1 style="color: #505ff3;">من نحن ؟</h1>


  <p class="parag">
    طحالب هو مشروع قيمي بامتياز يحتوي على سلسلة من الحلقات التي تجمع بين الهزل والجد
  </p>

  <p class="parag">
    نسعى من خلال هذه السلسلة إلى طرح مجموعة من القضايا الاجتماعية الشائكة بطريقة بسيطة وهزلية
  </p>

  <p class="parag">
    هدفنا هو تعميم الفائدة وإحياء الحس النقدي والفكري لدى المتلقي.
  </p>

</div>

</div>

</div>

</div>

</ion-content>