     
     
     
     
     
       <ion-content fullscreen  [scrollEvents]="true"> 



        <!-- Wrapper -->
        <div id="wrapper">
    
      
         <app-head></app-head>
     
     
     
     <!-- contents -->
      <div class="main_content">

        <div class="main_content_inner">


            <h1> أسئلة </h1>
            <nav class="responsive-tab style-1 mb-5">
                <ul>
                    <li class="uk-active"><a href="#"> اقتراحات </a></li>
                    <li><a href="#"> الأحدث </a></li>
                  
                </ul>
            </nav>





            <div class="uk-grid-large" uk-grid>
                <div class="uk-width-2-3@s">


                    <!-- quiz 1 -->
                    <div class="quiz-block">
                        <div class="quiz-block-content">

                            <h3> ما الذي يمكنني تعلمه الآن في 10 دقائق وسيكون مفيدًا لبقية بلدي
                              الحياة؟</h3>

                            <div class="user-details-card pt-0  uk-flex-top">
                                <div class="user-details-card-avatar">
                                    <img src="assets/images/avatars/avatar-2.jpg" alt="">
                                </div>
                                <div class="user-details-card-name">
                                    Stella Johnson <span class="ml-0"> 2 يونيو 2019 </span>
                                </div>
                            </div>

                            <p>سيت يتبيرسبايكياتيس يوندي أومنيس أستي ناتيس أيررور سيت فوليبتاتيم أكيسأنتييوم

                              دولاريمكيو لايودانتيوم,توتام ريم أبيرأم,أيكيو أبسا كيواي أب أللو أنفينتوري فيرأتاتيس ايت</p>

                            <!-- quiz block buttons -->
                            <div class="btn-acts">
                                <div>
                                    <a href="#" class="button white circle" uk-tooltip="Answers">
                                        <i class="uil-comment-message"></i> الردود <span> 21</span>
                                    </a>
                                    <a href="#" class="button white circle" uk-tooltip="Shares">
                                        <i class="uil-refresh"></i> تشارك <span> 34</span>
                                    </a>
                                </div>
                                <div>
                                    <a href="#" class="#"><i class="uil-share-alt"></i></a>
                                    <a href="#" class="#"><i class="uil-ellipsis-h"></i></a>
                                </div>
                            </div>
                        </div>

                        <!-- quiz block replay -->
                        <div class="quiz-block-replay">

                            <h3 class="uk-heading-bullet mb-4"> الإجابات (5) </h3>
                            <div class="user-details-card pt-0 pb-2   uk-flex-top">
                                <div class="user-details-card-avatar">
                                    <img src="assets/images/avatars/avatar-1.jpg" alt="">
                                </div>
                                <div class="user-details-card-name">
                                    Alex Dolgove <span class="ml-0"> Jأ 4 ، 2020</span>
                                </div>
                            </div>


                            <p>أودايت أيوت فيوجايت, سيد كيواي كونسيكيونتشر ماجناي

                              دولارس أيوس كيواي راتاشن فوليوبتاتيم</p>


                              <!-- quiz block buttons -->
                              <div class="btn-acts">
                                <div>
                                    <a href="#" class="button white circle" uk-tooltip="Answers">
                                        <i class="uil-comment-message"></i> الردود <span> 21</span>
                                    </a>
                                    <a href="#" class="button white circle" uk-tooltip="Shares">
                                        <i class="uil-refresh"></i> تشارك <span> 34</span>
                                    </a>
                                </div>
                                <div>
                                    <a href="#" class="#"><i class="uil-share-alt"></i></a>
                                    <a href="#" class="#"><i class="uil-ellipsis-h"></i></a>
                                </div>
                            </div>


                            <hr class="my-3">

                            <div class="user-details-card pt-0 pb-2   uk-flex-top">
                                <div class="user-details-card-avatar">
                                    <img src="assets/images/avatars/avatar-6.jpg" alt="">
                                </div>
                                <div class="user-details-card-name">
                                    Sara montaga <span class="ml-0"> 2 يونيو 2019 </span>
                                </div>
                            </div>


                            <p> أودايت أيوت فيوجايت, سيد كيواي كونسيكيونتشر ماجناي

                              دولارس أيوس كيواي راتاشن فوليوبتاتيم</p>

                              <!-- quiz block buttons -->
                              <div class="btn-acts">
                                <div>
                                    <a href="#" class="button white circle" uk-tooltip="Answers">
                                        <i class="uil-comment-message"></i> الردود <span> 21</span>
                                    </a>
                                    <a href="#" class="button white circle" uk-tooltip="Shares">
                                        <i class="uil-refresh"></i> تشارك <span> 34</span>
                                    </a>
                                </div>
                                <div>
                                    <a href="#" class="#"><i class="uil-share-alt"></i></a>
                                    <a href="#" class="#"><i class="uil-ellipsis-h"></i></a>
                                </div>
                            </div>

                        </div>
                    </div>



                    <!-- quiz two -->
                    <div class="quiz-block">
                        <div class="quiz-block-content">

                            <h3> ما هي الأشياء المفيدة التي يجب أن أتعلمها؟ </h3>

                            <div class="user-details-card pt-0  uk-flex-top">
                                <div class="user-details-card-avatar">
                                    <img src="assets/images/avatars/avatar-7.jpg" alt="">
                                </div>
                                <div class="user-details-card-name">
                                    Adrian Mohani <span class="ml-0"> 2 يونيو 2019 </span>
                                </div>
                            </div>

                            <p> ميت, كونسيكتيتيور,أديبايسكاي فيلايت, سيد

                              كيواي نون نيومكيوام ايايوس موداي تيمبورا انكايديونت يوت لابوري أيت دولار ماجنام
                              
                              ألايكيوام كيوايرات فوليوبتاتيم. يوت اينايم أد مينيما فينيا </p>

                           <!-- quiz block buttons -->
                           <div class="btn-acts">
                            <div>
                                <a href="#" class="button white circle" uk-tooltip="Answers">
                                    <i class="uil-comment-message"></i> الردود <span> 21</span>
                                </a>
                                <a href="#" class="button white circle" uk-tooltip="Shares">
                                    <i class="uil-refresh"></i> تشارك <span> 34</span>
                                </a>
                            </div>
                            <div>
                                <a href="#" class="#"><i class="uil-share-alt"></i></a>
                                <a href="#" class="#"><i class="uil-ellipsis-h"></i></a>
                            </div>
                        </div>
                        </div>

                        <!-- quiz block comment -->
                        <div class="quiz-block-add-replay">
                            <img src="assets/images/avatars/avatar-7.jpg" alt="">
                            <input type="text" class="uk-input" placeholder="Add your Comment">
                            <button class="button primary circle">أضف تعليق</button>
                        </div>

                        <!-- quiz block replay -->
                        <div class="quiz-block-replay">

                            <h3 class="uk-heading-bullet mb-4"> الإجابات (1) </h3>
                            <div class="user-details-card pt-0 pb-2   uk-flex-top">
                                <div class="user-details-card-avatar">
                                    <img src="assets/images/avatars/avatar-2.jpg" alt="">
                                </div>
                                <div class="user-details-card-name">
                                    Stella Johnson <span class="ml-0"> 2 يونيو 2019 </span>
                                </div>
                            </div>


                            <p> ت أيوت فيوجايت, سيد كيواي كونسيكيونتشر ماجناي

                              دولارس أيوس كيواي راتاشن فوليوبتاتيم سيكي</p>


                            <!-- quiz block buttons -->
                            <div class="btn-acts">
                                <div>
                                    <a href="#" class="button white circle" uk-tooltip="Answers">
                                        <i class="uil-comment-message"></i> الردود <span> 21</span>
                                    </a>
                                    <a href="#" class="button white circle" uk-tooltip="Shares">
                                        <i class="uil-refresh"></i> تشارك <span> 34</span>
                                    </a>
                                </div>
                                <div>
                                    <a href="#" class="#"><i class="uil-share-alt"></i></a>
                                    <a href="#" class="#"><i class="uil-ellipsis-h"></i></a>
                                </div>
                            </div>


                        </div>
                    </div>


               

                </div>

              
            </div>

            

        </div>
    </div>

  </div>



</ion-content>