<div class="uk-position-relative" uk-slider="finite: true">

  <div style="height: 290px;" class="uk-slider-container pb-3">

      <ul class="uk-slider-items uk-child-width-1-4@m uk-child-width-1-3@s  pr-lg-1 uk-grid"
          uk-scrollspy="target: > div; cls: uk-animation-slide-bottom-small; delay: 100">

          <li *ngFor="let groupe of groupes">
              <div class="group-card">

                  <!-- Group Card Thumbnail -->
                  <div class="group-card-thumbnail">
                      <img [src]="_data.url + 'getfile/' + groupe.image" alt="">
                  </div>

                  <!-- Group Card Content -->
                  <div class="group-card-content">
                      <h3> {{groupe.name}}</h3>
                    
                      <div class="group-card-btns">
                          <a [routerLink]="['/home/groupedetail' , groupe._id]" class="button primary small">انضم </a>
                          <a [routerLink]="['/home/groupedetail' , groupe._id]" class="button secondary small"> الق نظرة </a>
                      </div>

                  </div>
              </div>

          </li>
   

      </ul>

      <a class="uk-position-center-left-out uk-position-small uk-hidden-hover slidenav-prev" 
          uk-slider-item="previous"></a>
      <a class="uk-position-center-right-out uk-position-small uk-hidden-hover slidenav-next"
          uk-slider-item="next"></a>

  </div>


</div>