


<ion-grid>
  <ion-row>
    <ion-col (click)="presentModal(_data.url + 'getfile/' + ph?.image)" *ngFor="let ph of photos" size="6">
      <img *ngIf="ph.image" style="width: 100%;height: 120px;" [src]="_data.url + 'getfile/' + ph.image" alt="">
    </ion-col>
   
  </ion-row>
 
</ion-grid>


<ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
  <ion-infinite-scroll-content
    loadingSpinner="bubbles"
    loadingText="تحميل المزيد">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>
