img{
    border-radius: 7px;
}

.question{
    margin: 12px;
    color: #000;
}


.form-control{
    width: 90%;
    border-radius: 5px;
    border: 1px solid gray;
    margin-left: 6px;
    margin-right: 12px;

}
.error {
    border: 1.5px solid rgb(255, 0, 13);
}
h4{
    color: black;
    margin: 8px;
}

p{
    margin: 8px;
}


ion-button{
    width: 100%;
}