
        <!-- header -->
        <div id="main_header">
            <header>
                <div class="header-innr">

                  <ion-toolbar>
                    <ion-buttons style="background-color: transparent;" slot="start" (click)="back()">
                      <ion-icon name="arrow-back-sharp"></ion-icon>
                    </ion-buttons>
                    <ion-title>{{title}}</ion-title>
                  </ion-toolbar>

                 

                </div> <!-- / heaader-innr -->
            </header>

        </div>